/*!modules/css/common.scss*/
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
*,:before,:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.container{margin-left:auto;margin-right:auto}
.container.\31 25\25{width:100%;max-width:125%;min-width:100%}
.container.\37 5\25{width:75%}
.container.\35 0\25{width:50%}
.container.\32 5\25{width:25%}
.container{width:100%}
@media screen and (max-width:623px){.container.\31 25\25{width:100%;max-width:125%;min-width:100%}
.container.\37 5\25{width:75%}
.container.\35 0\25{width:50%}
.container.\32 5\25{width:25%}
.container{width:100%}}
@media screen and (max-width:375px){.container.\31 25\25{width:100%;max-width:125%;min-width:100%}
.container.\37 5\25{width:75%}
.container.\35 0\25{width:50%}
.container.\32 5\25{width:25%}
.container{width:100%}}
@media screen and (max-width:320px){.container.\31 25\25{width:100%;max-width:125%;min-width:100%}
.container.\37 5\25{width:75%}
.container.\35 0\25{width:50%}
.container.\32 5\25{width:25%}
.container{width:100%}}
.row{border-bottom:solid 1px transparent;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.row>*{float:left;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.row:after,.row:before{content:'';display:block;clear:both;height:0}
.row.uniform>*>:first-child{margin-top:0}
.row.uniform>*>:last-child{margin-bottom:0}
.row.\30 \25>*{padding:0}
.row.\30 \25
{margin:0 0 -1px 0}
.row.uniform.\30 \25>*{padding:0}
.row.uniform.\30 \25
{margin:0 0 -1px 0}
.row>*{padding:0 0 0 10px}
.row{margin:0 0 -1px -10px}
.row.uniform>*{padding:10px 0 0 10px}
.row.uniform{margin:-10px 0 -1px -10px}
.row.\32 00\25>*{padding:0 0 0 20px}
.row.\32 00\25
{margin:0 0 -1px -20px}
.row.uniform.\32 00\25>*{padding:20px 0 0 20px}
.row.uniform.\32 00\25
{margin:-20px 0 -1px -20px}
.row.\31 50\25>*{padding:0 0 0 15px}
.row.\31 50\25
{margin:0 0 -1px -15px}
.row.uniform.\31 50\25>*{padding:15px 0 0 15px}
.row.uniform.\31 50\25
{margin:-15px 0 -1px -15px}
.row.\35 0\25>*{padding:0 0 0 5px}
.row.\35 0\25
{margin:0 0 -1px -5px}
.row.uniform.\35 0\25>*{padding:5px 0 0 5px}
.row.uniform.\35 0\25
{margin:-5px 0 -1px -5px}
.row.\32 5\25>*{padding:0 0 0 2.5px}
.row.\32 5\25
{margin:0 0 -1px -2.5px}
.row.uniform.\32 5\25>*{padding:2.5px 0 0 2.5px}
.row.uniform.\32 5\25
{margin:-2.5px 0 -1px -2.5px}
.\31 2u,.\31 2u\24
{width:100%;clear:none;margin-left:0}
.\31 1u,.\31 1u\24
{width:91.6666666667%;clear:none;margin-left:0}
.\31 0u,.\31 0u\24
{width:83.3333333333%;clear:none;margin-left:0}
.\39 u,.\39 u\24
{width:75%;clear:none;margin-left:0}
.\38 u,.\38 u\24
{width:66.6666666667%;clear:none;margin-left:0}
.\37 u,.\37 u\24
{width:58.3333333333%;clear:none;margin-left:0}
.\36 u,.\36 u\24
{width:50%;clear:none;margin-left:0}
.\35 u,.\35 u\24
{width:41.6666666667%;clear:none;margin-left:0}
.\34 u,.\34 u\24
{width:33.3333333333%;clear:none;margin-left:0}
.\33 u,.\33 u\24
{width:25%;clear:none;margin-left:0}
.\32 u,.\32 u\24
{width:16.6666666667%;clear:none;margin-left:0}
.\31 u,.\31 u\24
{width:8.3333333333%;clear:none;margin-left:0}
.\31 2u\24+*,.\31 1u\24+*,.\31 0u\24+*,.\39 u\24+*,.\38 u\24+*,.\37 u\24+*,.\36 u\24+*,.\35 u\24+*,.\34 u\24+*,.\33 u\24+*,.\32 u\24+*,.\31 u\24+*{clear:left}
.\-11u{margin-left:91.6666666667%}
.\-10u{margin-left:83.3333333333%}
.\-9u{margin-left:75%}
.\-8u{margin-left:66.6666666667%}
.\-7u{margin-left:58.3333333333%}
.\-6u{margin-left:50%}
.\-5u{margin-left:41.6666666667%}
.\-4u{margin-left:33.3333333333%}
.\-3u{margin-left:25%}
.\-2u{margin-left:16.6666666667%}
.\-1u{margin-left:8.3333333333%}
@media screen and (max-width:623px){.row>*{padding:0 0 0 10px}
.row{margin:0 0 -1px -10px}
.row.uniform>*{padding:10px 0 0 10px}
.row.uniform{margin:-10px 0 -1px -10px}
.row.\32 00\25>*{padding:0 0 0 20px}
.row.\32 00\25
{margin:0 0 -1px -20px}
.row.uniform.\32 00\25>*{padding:20px 0 0 20px}
.row.uniform.\32 00\25
{margin:-20px 0 -1px -20px}
.row.\31 50\25>*{padding:0 0 0 15px}
.row.\31 50\25
{margin:0 0 -1px -15px}
.row.uniform.\31 50\25>*{padding:15px 0 0 15px}
.row.uniform.\31 50\25
{margin:-15px 0 -1px -15px}
.row.\35 0\25>*{padding:0 0 0 5px}
.row.\35 0\25
{margin:0 0 -1px -5px}
.row.uniform.\35 0\25>*{padding:5px 0 0 5px}
.row.uniform.\35 0\25
{margin:-5px 0 -1px -5px}
.row.\32 5\25>*{padding:0 0 0 2.5px}
.row.\32 5\25
{margin:0 0 -1px -2.5px}
.row.uniform.\32 5\25>*{padding:2.5px 0 0 2.5px}
.row.uniform.\32 5\25
{margin:-2.5px 0 -1px -2.5px}
.\31 2u\28large\29,.\31 2u\24\28large\29
{width:100%;clear:none;margin-left:0}
.\31 1u\28large\29,.\31 1u\24\28large\29
{width:91.6666666667%;clear:none;margin-left:0}
.\31 0u\28large\29,.\31 0u\24\28large\29
{width:83.3333333333%;clear:none;margin-left:0}
.\39 u\28large\29,.\39 u\24\28large\29
{width:75%;clear:none;margin-left:0}
.\38 u\28large\29,.\38 u\24\28large\29
{width:66.6666666667%;clear:none;margin-left:0}
.\37 u\28large\29,.\37 u\24\28large\29
{width:58.3333333333%;clear:none;margin-left:0}
.\36 u\28large\29,.\36 u\24\28large\29
{width:50%;clear:none;margin-left:0}
.\35 u\28large\29,.\35 u\24\28large\29
{width:41.6666666667%;clear:none;margin-left:0}
.\34 u\28large\29,.\34 u\24\28large\29
{width:33.3333333333%;clear:none;margin-left:0}
.\33 u\28large\29,.\33 u\24\28large\29
{width:25%;clear:none;margin-left:0}
.\32 u\28large\29,.\32 u\24\28large\29
{width:16.6666666667%;clear:none;margin-left:0}
.\31 u\28large\29,.\31 u\24\28large\29
{width:8.3333333333%;clear:none;margin-left:0}
.\31 2u\24\28large\29+*,.\31 1u\24\28large\29+*,.\31 0u\24\28large\29+*,.\39 u\24\28large\29+*,.\38 u\24\28large\29+*,.\37 u\24\28large\29+*,.\36 u\24\28large\29+*,.\35 u\24\28large\29+*,.\34 u\24\28large\29+*,.\33 u\24\28large\29+*,.\32 u\24\28large\29+*,.\31 u\24\28large\29+*{clear:left}
.\-11u\28large\29
{margin-left:91.6666666667%}
.\-10u\28large\29
{margin-left:83.3333333333%}
.\-9u\28large\29
{margin-left:75%}
.\-8u\28large\29
{margin-left:66.6666666667%}
.\-7u\28large\29
{margin-left:58.3333333333%}
.\-6u\28large\29
{margin-left:50%}
.\-5u\28large\29
{margin-left:41.6666666667%}
.\-4u\28large\29
{margin-left:33.3333333333%}
.\-3u\28large\29
{margin-left:25%}
.\-2u\28large\29
{margin-left:16.6666666667%}
.\-1u\28large\29
{margin-left:8.3333333333%}}
@media screen and (max-width:375px){.row>*{padding:0 0 0 10px}
.row{margin:0 0 -1px -10px}
.row.uniform>*{padding:10px 0 0 10px}
.row.uniform{margin:-10px 0 -1px -10px}
.row.\32 00\25>*{padding:0 0 0 20px}
.row.\32 00\25
{margin:0 0 -1px -20px}
.row.uniform.\32 00\25>*{padding:20px 0 0 20px}
.row.uniform.\32 00\25
{margin:-20px 0 -1px -20px}
.row.\31 50\25>*{padding:0 0 0 15px}
.row.\31 50\25
{margin:0 0 -1px -15px}
.row.uniform.\31 50\25>*{padding:15px 0 0 15px}
.row.uniform.\31 50\25
{margin:-15px 0 -1px -15px}
.row.\35 0\25>*{padding:0 0 0 5px}
.row.\35 0\25
{margin:0 0 -1px -5px}
.row.uniform.\35 0\25>*{padding:5px 0 0 5px}
.row.uniform.\35 0\25
{margin:-5px 0 -1px -5px}
.row.\32 5\25>*{padding:0 0 0 2.5px}
.row.\32 5\25
{margin:0 0 -1px -2.5px}
.row.uniform.\32 5\25>*{padding:2.5px 0 0 2.5px}
.row.uniform.\32 5\25
{margin:-2.5px 0 -1px -2.5px}
.\31 2u\28base\29,.\31 2u\24\28base\29
{width:100%;clear:none;margin-left:0}
.\31 1u\28base\29,.\31 1u\24\28base\29
{width:91.6666666667%;clear:none;margin-left:0}
.\31 0u\28base\29,.\31 0u\24\28base\29
{width:83.3333333333%;clear:none;margin-left:0}
.\39 u\28base\29,.\39 u\24\28base\29
{width:75%;clear:none;margin-left:0}
.\38 u\28base\29,.\38 u\24\28base\29
{width:66.6666666667%;clear:none;margin-left:0}
.\37 u\28base\29,.\37 u\24\28base\29
{width:58.3333333333%;clear:none;margin-left:0}
.\36 u\28base\29,.\36 u\24\28base\29
{width:50%;clear:none;margin-left:0}
.\35 u\28base\29,.\35 u\24\28base\29
{width:41.6666666667%;clear:none;margin-left:0}
.\34 u\28base\29,.\34 u\24\28base\29
{width:33.3333333333%;clear:none;margin-left:0}
.\33 u\28base\29,.\33 u\24\28base\29
{width:25%;clear:none;margin-left:0}
.\32 u\28base\29,.\32 u\24\28base\29
{width:16.6666666667%;clear:none;margin-left:0}
.\31 u\28base\29,.\31 u\24\28base\29
{width:8.3333333333%;clear:none;margin-left:0}
.\31 2u\24\28base\29+*,.\31 1u\24\28base\29+*,.\31 0u\24\28base\29+*,.\39 u\24\28base\29+*,.\38 u\24\28base\29+*,.\37 u\24\28base\29+*,.\36 u\24\28base\29+*,.\35 u\24\28base\29+*,.\34 u\24\28base\29+*,.\33 u\24\28base\29+*,.\32 u\24\28base\29+*,.\31 u\24\28base\29+*{clear:left}
.\-11u\28base\29
{margin-left:91.6666666667%}
.\-10u\28base\29
{margin-left:83.3333333333%}
.\-9u\28base\29
{margin-left:75%}
.\-8u\28base\29
{margin-left:66.6666666667%}
.\-7u\28base\29
{margin-left:58.3333333333%}
.\-6u\28base\29
{margin-left:50%}
.\-5u\28base\29
{margin-left:41.6666666667%}
.\-4u\28base\29
{margin-left:33.3333333333%}
.\-3u\28base\29
{margin-left:25%}
.\-2u\28base\29
{margin-left:16.6666666667%}
.\-1u\28base\29
{margin-left:8.3333333333%}}
@media screen and (max-width:320px){.row>*{padding:0 0 0 10px}
.row{margin:0 0 -1px -10px}
.row.uniform>*{padding:10px 0 0 10px}
.row.uniform{margin:-10px 0 -1px -10px}
.row.\32 00\25>*{padding:0 0 0 20px}
.row.\32 00\25
{margin:0 0 -1px -20px}
.row.uniform.\32 00\25>*{padding:20px 0 0 20px}
.row.uniform.\32 00\25
{margin:-20px 0 -1px -20px}
.row.\31 50\25>*{padding:0 0 0 15px}
.row.\31 50\25
{margin:0 0 -1px -15px}
.row.uniform.\31 50\25>*{padding:15px 0 0 15px}
.row.uniform.\31 50\25
{margin:-15px 0 -1px -15px}
.row.\35 0\25>*{padding:0 0 0 5px}
.row.\35 0\25
{margin:0 0 -1px -5px}
.row.uniform.\35 0\25>*{padding:5px 0 0 5px}
.row.uniform.\35 0\25
{margin:-5px 0 -1px -5px}
.row.\32 5\25>*{padding:0 0 0 2.5px}
.row.\32 5\25
{margin:0 0 -1px -2.5px}
.row.uniform.\32 5\25>*{padding:2.5px 0 0 2.5px}
.row.uniform.\32 5\25
{margin:-2.5px 0 -1px -2.5px}
.\31 2u\28small\29,.\31 2u\24\28small\29
{width:100%;clear:none;margin-left:0}
.\31 1u\28small\29,.\31 1u\24\28small\29
{width:91.6666666667%;clear:none;margin-left:0}
.\31 0u\28small\29,.\31 0u\24\28small\29
{width:83.3333333333%;clear:none;margin-left:0}
.\39 u\28small\29,.\39 u\24\28small\29
{width:75%;clear:none;margin-left:0}
.\38 u\28small\29,.\38 u\24\28small\29
{width:66.6666666667%;clear:none;margin-left:0}
.\37 u\28small\29,.\37 u\24\28small\29
{width:58.3333333333%;clear:none;margin-left:0}
.\36 u\28small\29,.\36 u\24\28small\29
{width:50%;clear:none;margin-left:0}
.\35 u\28small\29,.\35 u\24\28small\29
{width:41.6666666667%;clear:none;margin-left:0}
.\34 u\28small\29,.\34 u\24\28small\29
{width:33.3333333333%;clear:none;margin-left:0}
.\33 u\28small\29,.\33 u\24\28small\29
{width:25%;clear:none;margin-left:0}
.\32 u\28small\29,.\32 u\24\28small\29
{width:16.6666666667%;clear:none;margin-left:0}
.\31 u\28small\29,.\31 u\24\28small\29
{width:8.3333333333%;clear:none;margin-left:0}
.\31 2u\24\28small\29+*,.\31 1u\24\28small\29+*,.\31 0u\24\28small\29+*,.\39 u\24\28small\29+*,.\38 u\24\28small\29+*,.\37 u\24\28small\29+*,.\36 u\24\28small\29+*,.\35 u\24\28small\29+*,.\34 u\24\28small\29+*,.\33 u\24\28small\29+*,.\32 u\24\28small\29+*,.\31 u\24\28small\29+*{clear:left}
.\-11u\28small\29
{margin-left:91.6666666667%}
.\-10u\28small\29
{margin-left:83.3333333333%}
.\-9u\28small\29
{margin-left:75%}
.\-8u\28small\29
{margin-left:66.6666666667%}
.\-7u\28small\29
{margin-left:58.3333333333%}
.\-6u\28small\29
{margin-left:50%}
.\-5u\28small\29
{margin-left:41.6666666667%}
.\-4u\28small\29
{margin-left:33.3333333333%}
.\-3u\28small\29
{margin-left:25%}
.\-2u\28small\29
{margin-left:16.6666666667%}
.\-1u\28small\29
{margin-left:8.3333333333%}}
@font-face{font-family:iconfont;src:url("../static/fonts/iconfont.eot");src:url("../static/fonts/iconfont.eot?") format("embedded-opentype"),url("../static/fonts/iconfont.woff") format("woff"),url("../static/fonts/iconfont.ttf") format("truetype"),url("../static/fonts/iconfont.svg") format("svg")}
.iconfont{font-family:iconfont!important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-search:before{content:"\e601"}
.icon-lock:before{content:"\e620"}
.icon-Left:before{content:"\e600"}
.icon-thumb:before{content:"\e61e"}
.icon-listzhuanhuan:before{content:"\e660"}
.icon-reply:before{content:"\e72b"}
.icon-class:before{content:"\e608"}
.icon-safe:before{content:"\e6a5"}
.icon-tel:before{content:"\e615"}
html{-webkit-tap-highlight-color:transparent}
body{position:relative;font-size:14px}
input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}
a{color:#484848;text-decoration:none}
a:hover,a:focus{color:#1e70bf;outline:0}
figure{margin:0}
img{vertical-align:middle}
h1,.h1{font-size:18px}
h2,.h2{font-size:16px}
h3,.h3{font-size:15px}
h4,.h4{font-size:14px}
h5,.h5{font-size:13px}
h6,.h6{font-size:12px}
body{font-family:Tahoma,"Helvetica Neue","Lantinghei SC",Arial,"Microsoft Yahei","Hiragino Sans GB",STXihei,Helvetica,sans-serif}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
.center-block{display:block;margin-left:auto;margin-right:auto}
.pull-right{float:right!important}
.pull-left{float:left!important}
.hide{display:none!important}
.show{display:block!important}
.fade{opacity:0;-webkit-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear}
.fade.in{opacity:1}
.wrapper{width:1200px;margin:0 auto}
ul.list-model li{position:relative}
ul.list-model li:after{content:"";width:100%;height:1px;background-color:#aaa}
html.retina-2 ul.list-model li:after{-webkit-transform:scaleY(0.5);-webkit-transform-origin:0 0}
html.retina-3 ul.list-model li:after{-webkit-transform:scaleY(0.33);-webkit-transform-origin:0 0}
.retina-3{position:relative}
.retina-3:after{content:"";width:100%;height:1px;background-color:#aaa;-webkit-transform:scaleY(0.33);-webkit-transform-origin:0 0}
.panel{margin-bottom:30px}
.panel .panel-header{padding:10px 0}
.panel .panel-header h3{margin:0;padding-bottom:5px;border-bottom:3px solid #fda400}
@media screen and (min-width:320px) and (max-width:470px){.wrapper{padding:0 5%;width:100%}
.panel{margin-bottom:0}
.header{height:auto;line-height:1}
.header .drawer-toggle{display:block}
.header .pull-left{width:100%}
.header .logo{margin:10px auto}
.header .login{display:none}
.links .pc{display:none}
.links .mobile{display:block;height:30px;line-height:30px;text-align:center}
.links .mobile p{margin:0}
.index .lesson{width:100%;height:auto}
.index .lesson .lesson-info p{height:auto;opacity:1}
.register-page .loginBox,.login-page .loginBox{padding:10% 5%;width:96%;height:auto}
.online .video-box .video{width:100%;height:auto}
.online .video-box .list{width:100%;height:200px}
.online .comment .leave-message{margin:0;padding-left:42px}
.online .opinion .leave-message{padding:10px 0}
.online .opinion form{margin-left:87px}
.about .banner{display:none}
.contact .cont-form{padding:5%;width:96%}}