// Core variables and mixins
@import "variables";
@import "mixins";
@import "skel";

// Skel Setting
@include skel-breakpoints((
  large: "(max-width: 623px)",
  base:  "(max-width: 375px)",
  small: "(max-width: 320px)"
));


.contact{
	.location{
		padding: 10px 0; 
		span{
			padding: 0 10px;
			font-family: $font-family-more;
		}
	}
	
	.cont-form{
    margin: 1% auto;
    padding: 10px 30px;
    width: 460px;
    border-radius: 5px;
    background-color: #eee;
    h4{
			margin-top:0;
			font-weight: normal;
		}
		li{
			position: relative;
			margin-bottom: 20px;
			i{
				position: absolute;
				top: 10px;
				left: 15px;
			}
			input,textarea{
				padding:10px 10px 10px 40px;;
				border:1px solid #ddd;
				border-radius:5px;
				width: 100%;
				transition: all 0.30s ease-in-out;
				-webkit-transition: all 0.30s ease-in-out;
				-moz-transition: all 0.30s ease-in-out;
				outline:none;
				// border-radius:5px;
				&.validation{
					width: 50%;
				}
				&[type=submit]{
					padding:10px;
					color: #fff;
					background-color:$brand;
				}
				&:focus,{
					border:#35a5e5 1px solid;
					box-shadow: 0 0 5px rgba(81, 203, 238, 1);
					-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
					-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
				}
			}
			textarea{
				padding: 10px;
				resize: none;
			}
		}
	}
	form{

	}
}