// Core variables and mixins
@import "variables";
@import "mixins";

.login-page{
	overflow: hidden;
	background-image:url(images/cnb.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	.loginBox{
		margin: 5% auto;
		padding:70px 50px;
		width: 460px;
		height: 490px;
		border-radius:5px;
		background-color: #fff;
		h4{
			margin-top:0;
			font-weight: normal;
		}
		li{
			position: relative;
			margin-bottom: 20px;
			i{
				position: absolute;
				top: 10px;
				left: 15px;
			}
			.select-area{
			  position: relative;
			  height: 40px;
			  border: 1px solid #ddd;
			  overflow: hidden;  
			}
			.select-value{
				color: #777;
			}
			.select-area select{
			  position: absolute;
			  left: 0;
			  top: 0;
			  opacity: 0;
			  width: 100%;
			  border: red;
			}
			input,select,.select-area{
				padding:10px 10px 10px 40px;;
				border:1px solid #ddd;
				border-radius:5px;
				width: 100%;
				transition: all 0.30s ease-in-out;
				-webkit-transition: all 0.30s ease-in-out;
				-moz-transition: all 0.30s ease-in-out;
				outline:none;
				// border-radius:5px;
				&.validation{
					width: 50%;
				}
				&[type=submit]{
					padding:10px;
					color: #777;
					cursor: not-allowed;
					&.active{
						color: #fff;
						background-color:#3bb4f2;
						cursor: pointer;
					}
				}
				&:focus{
					border:#35a5e5 1px solid;
					box-shadow: 0 0 5px rgba(81, 203, 238, 1);
					-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
					-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
				}
				&.error{
					border: 1px solid rgb(169,68,66);
					box-shadow: 0 0 5px rgba(169,68,66, 1);
					-webkit-box-shadow: 0 0 5px rgba(169,68,66, 1);
					-moz-box-shadow: 0 0 5px rgba(169,68,66, 1);
				}
			}
			.tips{
				position: absolute;
				right: -10px;
				z-index: 1;
				padding: 3px 5px;
				border: 1px solid #ccc;
				color: rgb(169,68,66);
				background-color: #fff;
				border-radius: 5px;
				@include opacity(0);
				transition: 300ms ease-in;
			}
			.tips-in{
				@include opacity(1);
				-webkit-transform: translateX(-10px);
  			transform:  translateX(-10px);
			}
		}
	}
}
