.ltCont {
  overflow: hidden;
}

.ltCont, .ltLayer {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*z-index:1;*/
}

.ltCont, .ltCont .ltLayer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.ltCont.close {
  display: none;
}

.ltCont .ltLayer {
  background: #000;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.ltCont .ltLayer.open {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.ltCont .ltLayer.close {
  opacity: 0;
  filter: alpha(opacity=0);
}

.lightbox {
  visibility: hidden;
  z-index: -1;
}

.ltCont .model_open {
  visibility: visible;
}

.ltCont {
  position: fixed !important;
}

.drawerDisableScroll {
  min-height: 100% !important;
  max-height: 100% !important;
  overflow: hidden !important;
}

.drawer {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform 500ms;
  transition: transform 500ms;
  /*opacity:0;*/
  width: 80%;
}

.drawer.left {
  left: 0;
  -webkit-transform: translate(calc(-100%), 0px);
  transform: translate(calc(-100%), 0px);
}

.drawer.right {
  right: 0;
  /* #### Mobile Phones Portrait #### */
  /* #### Mobile Phones Portrait or Landscape #### */
  /* #### iPhone 4+ Portrait or Landscape #### */
  /* #### Tablets Portrait or Landscape #### */
  -webkit-transform: translate(calc(100%), 0px);
  transform: translate(calc(100%), 0px);
}

@media screen and (min-device-width: 321px) and (max-device-width: 480px) and (orientation: portrait) {
  .drawer.right {
    /* some CSS here */
    -webkit-transform: translate(384px, 0px);
    transform: translate(384px, 0px);
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 640px) {
  .drawer.right {
    /* some CSS here */
    -webkit-transform: translate(512px, 0px);
    transform: translate(512px, 0px);
  }
}

@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .drawer.right {
    /* some CSS here */
    -webkit-transform: translate(384px, 0px);
    transform: translate(384px, 0px);
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .drawer.right {
    /* some CSS here */
    -webkit-transform: translate(820px, 0px);
    transform: translate(820px, 0px);
  }
}

.drawer.sideIn {
  /*opacity:1;*/
}

.drawer.sideIn.right {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.drawer.sideIn.left {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

/** drawer_v1  drawerDisableScroll : Disable body scrolling */
html, body {
  margin: 0;
  padding: 0;
}

.drawer {
  background: white;
  padding: 10px;
}

.code {
  background: #c2c2c2;
  padding: 15px 25px;
  word-break: break-word;
}

.header {
  height: 100px;
  line-height: 100px;
}

.header button {
  margin: 10px 0 0 10px;
  padding: 10px;
  background-color: rgba(184, 184, 184, 0.3);
  border: none;
  border-radius: 3px;
}

.header .drawer-toggle {
  display: none;
}

.header .logo {
  display: block;
  margin-top: 25px;
  width: 195px;
  height: 48px;
  background-image: url("../../images/logo.png");
}

.header .login li {
  float: left;
}

.header .login .divided {
  padding: 0 3px;
}

.links {
  background-color: #eeeeee;
}

.links li {
  float: left;
}

.links li a {
  display: block;
  padding: 15px 20px;
}

.links li:hover, .links li.active {
  background-color: #fda400;
}

.links li:hover a, .links li.active a {
  color: #fff;
}

.links .mobile {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

.drawer-menu li {
  padding: 15px 0;
  border-bottom: 1px dotted #ccc;
}
