.online .location {
  padding: 10px 0;
}

.online .location span {
  padding: 0 10px;
  font-family: "Hiragino Sans GB", "SimSun";
}

.online .video-box .video {
  width: 800px;
  height: 400px;
  background-color: blue;
}

.online .video-box .list {
  width: 300px;
  height: 400px;
  overflow: auto;
}

.online .video-box .list li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.online .download .source, .online .download .note {
  display: inline-block;
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f9a400;
  cursor: pointer;
}

.online .comment li {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

.online .comment .reply {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}

.online .comment .photo {
  margin-top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.online .comment .photo img {
  width: 100%;
}

.online .comment .leave-message {
  margin-left: 50px;
  width: 100%;
}

.online .comment p {
  margin: 0 0 5px 10px;
  font-size: 14px;
}

.online .comment p.name {
  color: #ff0000;
}

.online .comment p.msg {
  color: #333;
}

.online .comment span {
  margin-left: 10px;
  color: #999;
  cursor: pointer;
}

.online .opinion .leave-message {
  padding: 40px 0;
}

.online .opinion .photo {
  width: 87px;
  height: 87px;
  border-radius: 50%;
}

.online form {
  margin-left: 120px;
}

.online form textarea {
  padding: 10px 5px;
  width: 100%;
  border: 1px solid #ddd;
  resize: none;
}

.online form input {
  margin-top: 20px;
  height: 40px;
  width: 95px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #f9a400;
}
